<!DOCTYPE html>
<!-- CSS Stylesheets with Relative Paths -->
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  <style>
      div.gallery {
        margin: 5px;
        border: 1px solid #ccc;
        float: left;
        width: 180px;
      }
      
      div.gallery:hover {
        border: 1px solid #777;
      }
      
      div.gallery img {
        width: 100%;
        height: auto;
      }
      
      div.desc {
        padding: 15px;
        text-align: center;
      }

      div.images {
        margin: 5px;
        border: 1px solid #ccc;
        overflow:hidden;
      }
      </style>
</head>

<body>

  <header>
    <div class="navbar">
        <div class="dropdown">
            <button class="dropbtn">Natural Disasters 
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a class="active" href="{{ url_for('earthquake_index') }}">Recent Earthquake</a>
                <a class="active" href="{{ url_for('sig_earthquake') }}">Historic Earthquakes</a>
                <a class="active" href="{{ url_for('tsunamis_landing') }}">Historical Tsunamis</a>
                <a class="active" href="{{ url_for('volcanoes_landing') }}">Volcanoes</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Extreme Weather 
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="{{ url_for('tornadoes_landing') }}">Tornadoes</a>
              <a href="{{ url_for('warnings_landing') }}">Weather Warnings</a>
            </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn">Machine Learning 
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
              <a class="drop-link" href="{{ url_for('ml_machine') }}">Machine Learning</a>
              <a class="drop-link" href="{{ url_for('sentiment_analysis') }}">Sentiment Analysis</a>
          </div>
        </div> 
    </div>
  </header>

<div class="images">
    <div class="gallery">
        <a target="_blank" href="{{ url_for('earthquake_index') }}">
          <img src="../static/images/earthquake.jpg" alt="Earthquakes" width="600" height="400">
        </a>
        <div class="desc">Earthquakes</div>
      </div>
      
      <div class="gallery">
        <a target="_blank" href="{{ url_for('tornadoes_landing') }}">
          <img src="../static/images/tornado.jpg" alt="Tornaodes" width="600" height="400">
        </a>
        <div class="desc">Tornadoes</div>
      </div>
      
      <div class="gallery">
        <a target="_blank" href="{{ url_for('volcanoes_landing') }}">
          <img src="../static/images/volcanoes.jpg" alt="Volcanoes" width="600" height="400">
        </a>
        <div class="desc">Volcanoes</div>
      </div>
      
      <div class="gallery">
        <a target="_blank" href="{{ url_for('tsunamis_landing') }}">
          <img src="../static/images/tsunamis.jpg" alt="Tsunamis" width="600" height="400">
        </a>
        <div class="desc">Tsunamis</div>
      </div>
</div>
<hr>

  <div>
    <h1>Natural Disaster Data Visualization and Machine Learning Repository</h1>
        <p>
            A natural disaster is a major adverse event resulting from natural processes of the Earth; examples include floods, hurricanes, tornadoes, volcanic eruptions, earthquakes, tsunamis, and other geologic processes. A natural disaster can cause loss of life or damage property,[1] and typically leaves some economic damage in its wake, the severity of which depends on the affected population's resilience, or ability to recover and also on the infrastructure available.[2]

            An adverse event will not rise to the level of a disaster if it occurs in an area without vulnerable population.[3][4] In a vulnerable area, however, such as Nepal during the 2015 earthquake, an earthquake can have disastrous consequences and leave lasting damage, which can require years to repair.
            Source: <a href = "https://en.wikipedia.org/wiki/Natural_disaster">wikipedia</a>
         </p>
  </div>
  <div>
    <h3>Objective</h3>
    <p>The goal of this site app is twofolds: 1) to provide a data visualization repository that will allow you to explore these natural disasters, and evaluate their frequency, and global distribution. 2) To use machine learning to make predictions. </p>
    <h3>Data Source:</h3>
    <p>The data used in this application was obtained from:</p>
    <ul>
      <li><a href="https://earthquake.usgs.gov/data/" target="_blank">United States Geological Survey</a></li>
      <li><a href="https://www.ngdc.noaa.gov/ngdcinfo/onlineaccess.html" target="_blank">National Centers for Environmental Information</a></li>
    </ul>
    <h3>Tools used in Analysis and Visualizations.</h3>
      <ul>
        <li>D3 and leaflet were used to render the dashboards and maps.</li>
        <li>Plotly was used to generate plots and tables.</li>
        <li>Machine Learning Models: k-Nearest Neighbors Algorithm (k-NN) and Sentiment Analysis </li>
      </ul>
  </div>  



  <script src="https://cdn.plot.ly/plotly-1.31.2.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</body>

</html>
