<!DOCTYPE html>
<!-- CSS Stylesheets with Relative Paths -->
<html lang="en-us">
<head>
  <meta charset="UTF-8">
  <link rel=“stylesheet” href=“https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css“>
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>

<body>

  <header>
    <div class="navbar">
        <a class="active" href="{{ url_for('index') }}">Home</a>
        <div class="dropdown">
            <button class="dropbtn">Natural Disasters 
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a class="active" href="{{ url_for('earthquake_index') }}">Recent Earthquake</a>
                <a class="active" href="{{ url_for('sig_earthquake') }}">Historic Earthquakes</a>
                <a class="active" href="{{ url_for('tsunamis_landing') }}">Historical Tsunamis</a>
                <a class="active" href="{{ url_for('tsunami_map') }}">Historical Tsunami Map</a>
                <a class="active" href="{{ url_for('volcanoes_landing') }}">Volcanoes</a>
            </div>
        </div> 
        <div class="dropdown">
            <button class="dropbtn">Extreme Weather 
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a class="drop-link" href="{{ url_for('tornadoes_landing') }}">Tornadoes</a>
                <a class="drop-link" href="{{ url_for('warnings_landing') }}">Weather Warnings</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Machine Learning 
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a class="drop-link" href="{{ url_for('ml_machine') }}">Machine Learning</a>
            </div>
        </div> 
    </div>
  </header>
  

  <div class=“row text-center”>
    <div class=“col-md-12”>
      <h3>Positive Emotions During National Disasters</h3>
      <a target="_blank" href="{{ url_for('static', filename='images/positive_cloud.png') }}">
        <img src="{{ url_for('static', filename='images/positive_cloud.png') }}" class="center-block img-responsive"/>
      </a>
    </div>
  </div>

  <div class=“row text-center”>
    <div class=“col-md-12”>
      <h3>Negative Emotions During National Disasters</h3>
      <a target="_blank" href="{{ url_for('static', filename='images/negative_cloud.png') }}">
        <img src="{{ url_for('static', filename='images/negative_cloud.png') }}" class="center-block img-responsive"/>
      </a>
    </div>
  </div>



  <script src="https://cdn.plot.ly/plotly-1.31.2.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  
</body>

</html>
