<!DOCTYPE html>
<!-- CSS Stylesheets with Relative Paths -->
<html lang="en-us">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>

<body>

  <header>
    <div class="navbar">
        <a class="active" href="index.html">Home</a>
        <div class="dropdown">
            <button class="dropbtn">Natural Disasters 
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="earthquake_index.html">Recent Earthquake</a>  
              <a href="sig_earthquakes.html">Historical Earthquakes</a>
              <a href="volcanoes_landing.html">Volcanoes</a>  
              <a href="tsunamis_landing.html">Tsunamis</a>
            </div>
        </div> 
        <div class="dropdown">
            <button class="dropbtn">Extreme Weather 
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="tornadoes_landing.html">Tornadoes</a>
              <a href="wind_landing.html">Wind</a>
              <a href="hail_landing.html">Hail</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Machine Learning 
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="ml_landing.html">Machine Learning</a>
              <a href="sentiment_landing.html">Sentiment Analysis</a>
            </div>
        </div> 
    </div>
  </header>
  
  <h1>Warnings Landing Page</h1>

<div class="container-fluid">
  <div class="row">
      <div class="col-lg-4">
          <aside class="filters">
              <div class="panel panel-default">
                  <div class="panel-body">
                      <form>
                          <div class="form-group">
                              <ul class="list-group" id="filters">
                                  <li class="filter list-group-item">
                                      <label for="column">Weather leart names</label>
                                      <select id="dataSet" onchange="optionChanged(this.value)"></select><hr>
                                      <p id="warning"></p>
                                      <button id="refresh-btn" type="submit" class="btn btn-default">Refresh alerts</button>
                                  </li>
                              </ul>
                          </div>
                      </form>
                  </div>
              </div>
          </aside>
      </div>
      <div class="col-lg-8">
          <div class="group">
              <div id="boxplot1"></div>
              <div id="boxplot2"></div>
              <div id="boxplot3"></div>
          </div>
      </div>
  </div>
  <div class="row">
    <iframe src="/map" height="500px" width="100%" style="border:2px solid black;"></iframe>
  </div>
</div>
  <div class="row">
    <div class="col-md-12">
      <div id="map"></div>
    </div>
  </div>

  </div>
      <div class="row">
        <div class="col-md-12">
          <div id="plot"></div>
        </div>
      </div>
  </div>



  <script src="https://cdn.plot.ly/plotly-1.31.2.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="static/map_js/app.js"></script>

  <!-- Javascript_code create one with example: tornado_map.js -->
  <!-- <script src="{{ url_for('static', filename='js/app.js') }}"></script> -->

  <!-- Logic for map name example tornadoes_logic.js -->
  <!-- <script src="{{ url_for('static', filename='js/logic.js') }}"></script> -->
</body>

</html>